/*
$pcolor: #53DF00;
$pcolordark1: #58A72A;
$pcolordark2: #369100;
$pcolorlight1: #7EEF3C;
$pcolorlight2: #9CEF6C;
$ccolor: #00AA72;
$ccolordark1: #207F60;
$ccolordark2: #006E4A;
$ccolorlight1: #35D4A0;
$ccolorlight2: #60D4AE;
$wcolor: #C0F400;
$wcolordark1: #9AB72E;
$wcolordark2: #7D9F00;
$wcolorlight1: #D2FA3E;
$wcolorlight2: #DCFA70;
$rd-nav-med: 25em;
$rd-nav-large: 48em;
*/
body {
  margin: 0;
  padding: 0;
  background-color: #6685eb;
  font-family: "Trebuchet MS", Helvetica, sans-serif; }

h2 {
  padding: .5em .2em .2em .2em;
  font-size: 1.5em;
  font-weight: bold; }

h3 {
  padding: .3em .2em .2em .2em;
  font-size: 1.3em;
  font-weight: bold; }

p {
  padding: .2em .4em; }

a {
  color: #1338b2;
  text-decoration: none;
  font-weight: bold;
  font-size: 120%;
  font-size: 100%; }
  a:visited {
    color: #031657; }

ul {
  padding: 0 .4em; }
  ul li {
    list-style: circle inside; }

ol {
  padding: 0 2em .4em 2em; }
  ol li {
    padding: 0 0 .5em 0;
    list-style: decimal outside; }
  ol ol {
    padding: 0 1.5em; }
    ol ol li {
      list-style: lower-latin outside; }

strong {
  font-weight: bold; }

header {
  clear: both;
  overflow: hidden;
  background-color: #a4b4eb;
  border-bottom: 5px solid #031657; }
  header h1 {
    margin: 0;
    padding: .2em .25em;
    font-size: 2em;
    color: #031657;
    font-size: 2.5em; }

nav {
  clear: left; }
  nav ul {
    margin: 0;
    padding: 0;
    float: left; }
    nav ul li {
      border-bottom: 1px solid #AAA;
      list-style: none;
      float: left;
      border-bottom: 0; }
      nav ul li:last-child {
        border-bottom: 0; }
      nav ul li a {
        display: block;
        padding: .5em .8em;
        font-size: 1.5em;
        text-decoration: none;
        background-color: #6685eb;
        color: #031657;
        margin: 0 .25em;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 1em; }
        nav ul li a:hover, nav ul li.nav-current a {
          background-color: #031657;
          color: #6685eb; }
      nav ul li.nav-current a {
        font-weight: bold; }
  nav h3 {
    margin: 0;
    padding: .5em;
    float: right;
    display: block;
    background-color: #777;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: -999em; }

.nav-menu nav {
  position: relative;
  overflow: hidden; }
  .nav-menu nav h3 {
    margin: 0;
    padding: .5em;
    float: right;
    display: block;
    font-size: 1.5em;
    background-color: #777;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: -999em; }
  .nav-menu nav a {
    padding-right: 3em; }
  .nav-menu nav li {
    clear: left;
    display: none; }
  .nav-menu nav li.nav-current {
    border-bottom-width: 0; }
.nav-menu nav.expanded li.nav-current {
  border-bottom-width: 1px; }
.nav-menu nav.expanded li:last-child {
  border-bottom: 5px solid #031657; }
.nav-menu nav.expanded li,
.nav-menu nav li.nav-current {
  display: list-item; }

#content {
  clear: both;
  width: 100%; }
  #content section {
    margin: .5em;
    overflow: hidden;
    border-radius: .7em;
    background-color: #a4b4eb; }
    #content section h2 {
      padding: .2em .2em .2em .2em;
      color: #031657; }
    #content section h3 {
      color: #031657; }
    #content section img {
      width: 100%;
      border-radius: .7em;
      /*@include respond-min($rd-nav-med) {
      }*/
      float: right;
      width: 50%; }
