@import 'utils'; 
//http://colorschemedesigner.com/#3m61TyiyiJDK5
$pcolor: #048BA4;
$pcolordark1: #275E68;
$pcolordark2: #004450;
$pcolorlight1: #58D0E7;
$pcolorlight2: #9BDBE7;
$ccolor: #1338B2;
$ccolordark1: #314071;
$ccolordark2: #031657;
$ccolorlight1: #6685EB;
$ccolorlight2: #A4B4EB;
$wcolor: #00C52C;
$wcolordark1: #2E7D3F;
$wcolordark2: #006115;
$wcolorlight1: #58F07A;
$wcolorlight2: #9FF0B1;

$rd-nav-med: 27em;
$rd-nav-large: 52em;
$rd-nav-xlarge: 65em;
/*
$pcolor: #53DF00;
$pcolordark1: #58A72A;
$pcolordark2: #369100;
$pcolorlight1: #7EEF3C;
$pcolorlight2: #9CEF6C;
$ccolor: #00AA72;
$ccolordark1: #207F60;
$ccolordark2: #006E4A;
$ccolorlight1: #35D4A0;
$ccolorlight2: #60D4AE;
$wcolor: #C0F400;
$wcolordark1: #9AB72E;
$wcolordark2: #7D9F00;
$wcolorlight1: #D2FA3E;
$wcolorlight2: #DCFA70;
$rd-nav-med: 25em;
$rd-nav-large: 48em;
*/
html {
	@include old-ie {
    background-color:$pcolordark2;
    }
}
body {
    margin:0;
    padding:0;
    background-color:$ccolorlight1;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
	@include old-ie {
		max-width: 62em;	
		margin: 0 auto;
	}
}
//h1 {
    //padding: .5em .2em .2em .2em;
//}
h2 {
    padding: .5em .2em .2em .2em;
    font-size: 1.5em;
    font-weight: bold;
}
h3 {
    padding: .3em .2em .2em .2em;
    font-size: 1.3em;
    font-weight: bold;
}
p {
    padding:.2em .4em;
    //margin:.2em .4em;
}
a {
    color:$ccolor;
    text-decoration:none;
    font-weight:bold;
    font-size:120%;
    @include respond-min($rd-nav-med) {
        font-size:100%;
    }
    &:visited {
        color:$ccolordark2;
    }
}
ul {
    padding:0 .4em;
    li {
        list-style:circle inside;
    }
}
ol {
    padding:0 2em .4em 2em;
    li {
        padding: 0 0 .5em 0;
        list-style:decimal outside;
    }
    ol {
        padding:0 1.5em;
        li {
            list-style:lower-latin outside;
        }
    }
}
strong {
    font-weight:bold;
}
header {
    clear:both;
    overflow:hidden;
    background-color:$ccolorlight2;
    @include respond-min($rd-nav-med) {
        border-bottom: 5px solid $ccolordark2;
    }
    @include respond-min($rd-nav-large) {
        padding-bottom:.5em;
    }
    h1 {
        margin:0;
        padding:.2em .25em;
        font-size:2em;
        color:$ccolordark2;
        @include respond-min($rd-nav-med) {
            font-size:2.5em;
        }
        @include respond-min($rd-nav-large) {
            display:inline-block;
            padding:.3em .25em;
        }
    }
}
nav {
    clear:left;
    
    @include respond-min($rd-nav-med) {
        //float:left;
    }
    @include respond-min($rd-nav-large) {
        float:right;
        clear:none;
        width:auto;
    }
    ul {
        margin:0;
        padding:0;
        //border: 1px solid black;
        @include respond-min($rd-nav-med) {
            float:left;
        }
        li {
            border-bottom:1px solid #AAA;            
            list-style:none;
            @include respond-min($rd-nav-med) {
                float:left;
                border-bottom:0;
            }
            &:last-child {
                border-bottom:0;
            }
            a {
                display:block;
                padding: .5em .8em;
                font-size:1.5em;
                text-decoration:none;
                background-color:$ccolorlight1;
                color:$ccolordark2;
                @include respond-min($rd-nav-med) {
                    margin: 0 .25em;
                    border-top-left-radius: 0.5em;
                    border-top-right-radius: 0.5em;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                    font-size:1em;
                }
                @include respond-min($rd-nav-large) {
                    margin: .4em .2em;
                    border-radius:.3em;
                    font-size:1.1em;
                }
                @include respond-min($rd-nav-xlarge) {
                    margin: .5em .3em;
                    border-radius:.4em;
                    font-size:1.2em;
                }
                &:hover {
                    background-color:$ccolordark2;
                    color:$ccolorlight1;
                }
            }
            &.nav-current {
                a {
                    @extend a:hover;
                    font-weight:bold;
                }
            }
        }
    }
    h3 {
        margin:0;
        padding:.5em;
        //position: absolute;
        float:right;
        //top: 0;
        //left: auto;
        //right: 0;
        display: block;
        //width: 4em;
        //height: 2.5em; 
        //font-size:1.5em;
        background-color: #777;// url(photos/icons.png) no-repeat -205px 45%;
        //text-indent: -999em;
        text-align:center;
        cursor: pointer;
        @include respond-min($rd-nav-med) {
            position: absolute;
            left: -999em;
        }
    }
    .nav-menu .nav-primary.expanded h3 {
       // background-position: -169px 45%;
    }
}
//nav:hover {
    //max-height:9em;
//}

.nav-menu {
    nav {
        position: relative;
        overflow: hidden;
        h3 {
            margin:0;
            padding:.5em;
            float:right;
            display: block;
            font-size:1.5em;
            background-color: #777;// url(photos/icons.png) no-repeat -205px 45%;
            text-align:center;
            cursor: pointer;
            @include respond-min($rd-nav-med) {
                position: absolute;
                left: -999em;
            }
        }
        a {
            padding-right: 3em;
        }
        li {
            clear: left;
            display: none;
        }    
        li.nav-current {
            border-bottom-width: 0;
        }
    }
    nav.expanded li.nav-current {
        border-bottom-width: 1px;
    }
    nav.expanded li:last-child {
        border-bottom: 5px solid $ccolordark2;
    }
    nav.expanded li,
    nav li.nav-current {
        display: list-item;
    } 
}


#content {
    //display:block;
    clear:both;
    //padding:0 .2em;
    width:100%;
    section {
        margin:.5em;
        //padding:.3em;
        overflow:hidden;
        //border: 2px dashed $wcolordark1;
        border-radius:.7em;
        background-color:$ccolorlight2;
        h2 {
            padding:.2em .2em .2em .2em;
            color:$ccolordark2;
        }
        h3 {
            color:$ccolordark2;
        }
        img {
            width:100%;
            border-radius:.7em;
            /*@include respond-min($rd-nav-med) {
            }*/
            @include respond-min($rd-nav-med + 12em) {
                //margin: 0 0 0 .5em;
                float:right;
                width:50%;
            }
            @include respond-min($rd-nav-large) {
                width:40%;
            }
        }
    }
}

